.card-subtitle {
  -moz-column-gap: 8px;
  column-gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  max-width: 100%;
  .title_review {
    display: flex;
    align-items: center;
    max-width: 100%;
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
.footer_card.card-text {
  display: flex;
  justify-content: space-between;
  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
    svg,
    img {
      width: 18px;
      height: 18px;
    }
    .like,
    .comment,
    .save {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .like {
      .likes_count {
        margin-left: 3px;
        font-size: 17px;
      }
    }
  }
}
.card_img {
  overflow: hidden;
  cursor: pointer;
  img {
    min-width: 100%;
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .rate {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.966);
    // background-color: rgb(4 4 4 / 25%);
    border-bottom-left-radius: 5px;
  }
}
.username_rating {
  display: flex;
  gap: 5px;
  .user_rating {
    display: flex;
    align-items: center;
    svg {
      fill: #faaf00;
    }
  }
}
