.container-form {
  width: 60%;
  margin: 0 auto;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  .image {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    gap: 10px;
    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: color 0.4s;
      &:hover {
        color: red;
      }
    }
  }
}
h5 {
  text-align: center;
}

.tagger-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100%;
  // overflow-x: auto;
  .tagger-container__tag {
    position: relative;
    display: block;
    padding: 6px 32px 6px 16px;
    background: rgb(232 234 235);
    color: rgb(47 52 55);
    border-radius: 8px;
    font-size: 16px;
    height: 31px;
    line-height: 17px;
    outline: 0;
    .tag {
      padding-right: 5px;
    }
    .cross {
      align-items: center;
      background: transparent;
      border: none;
      border-radius: 8px;
      color: inherit;
      cursor: pointer;
      display: flex;
      height: 31px;
      justify-content: center;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: background-color 0.2s ease-in-out;
      width: 31px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
  }
  .tagger-container__tag--input {
    min-width: 96px;
    padding: 5px 15px;
    &::after {
      content: attr(data-value);
      visibility: hidden;
      white-space: pre-wrap;
    }
    .form-control {
      padding: 6px 20px 6px 12px;
      background: transparent;
      border: none;
      color: rgb(var(--tag-fg) / 0.8);
      font-size: 16px;
      outline: 0;
      padding: 0;
      top: 2px;
      width: 100%;
      position: absolute;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
.tags {
  margin-top: 5%;
}

.editor {
  .selected_tool {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(232, 234, 235);
    border-radius: 8px;
    margin-bottom: 10px;
    .text {
      height: 100%;
      overflow-wrap: break-word;
    }

    .edit {
      position: absolute;
      top: 5px;
      right: 32px;
      padding: 0;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .data-placeholder {
      height: 3ch;
      cursor: text;
      &:before {
        display: block;
        content: attr(data-placeholder);
        position: absolute;
        color: rgb(116 124 129);
        font-weight: 400;
      }
    }
    div {
      height: 36px;
    }
    h3 {
      height: 45px;
    }
    div,
    h3 {
      border-radius: 8px;
      padding: 5px 10px;
      &:focus-visible {
        outline: none;
      }
    }
    .image-tool {
      height: 100%;
      padding: 0;
      .images-review {
        height: 370px;
        padding: 0;
        svg {
          height: 70px;
        }
        .preview-images {
          position: relative;
          display: flex;
          width: 100%;
          height: 100%;
          padding: 0;
          img {
            max-width: 100%;
            height: fit-content;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
.cover {
  position: relative;
  width: 100%;
}

.cover_image {
  margin-bottom: 15px;
  .preview-cover {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    img {
      max-width: 100%;
      height: fit-content;
    }
  }
}
.drop-area {
  width: 100%;
  height: 370px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px dashed #000000;
}
.download-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 370px;
  background: rgb(232, 234, 235);
  svg {
    width: 70px;
    height: 70px;
  }
}
