h4 {
  font-weight: 700;
  font-size: 18px;
  color: #4d4d4f;
}
h2 {
  font-weight: 700;
  font-size: 36px;
}
ul,
li,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.info {
  padding-left: 130px;
  h3 {
    margin: 0;
    margin-left: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #231f20;
  }
  h4 {
    padding-bottom: 33px;
  }
  .name {
    display: flex;
    align-items: center;
    padding-bottom: 36px;
    border-bottom: 2px solid #ededf4;
    img {
      width: 48px;
      height: 48px;
    }
  }
  .userData {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 36px;
    input {
      padding: 13px 17px;
      padding-right: 38px;
      background: #fff;
      outline: none;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      border: 1px solid hsl(0, 0%, 80%);
      &:focus {
        border-width: 2px;
        border-color: #2684ff;
        padding: 12.115px 15.6px;
        padding-right: 34px;
      }
    }
    label {
      margin-bottom: 5px;
      color: #a8aaae;
      font-weight: 500;
      font-size: 14px;
    }
    .mainData {
      display: flex;
      flex: 0;
      margin: auto;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .containerInput {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      width: 45%;
      height: 100%;

      .eye {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 15px;
        top: 38px;
        cursor: pointer;
      }
    }
    .password {
      display: flex;
      justify-content: space-between;
    }
  }
  .btnSave {
    margin-top: 73px;
    width: 270px;
    height: 56px;
    background: #009cb4;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: #087e91;
    }
  }
}
