.review {
  .container.edit {
    min-height: 100vh;
  }
  .review_container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    .review_header {
      text-align: center;
      margin: 20px 0px 20px 0px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom: 1px solid #e3e3e3;
      .review_title {
        text-align: left;
      }
      .author__date__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        .author__date {
          position: relative;
          display: flex;
          align-items: center;
          gap: 19px;
          color: #8b8b8b;
          .date {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              right: -9px;
              width: 1px;
              top: 4px;
              height: 70%;
              background-color: #8b8b8b;
            }
          }
        }
        .icons,
        .icons_favorite {
          display: flex;
          align-items: center;
          gap: 10px;
          .edit {
            padding: 5px 20px;
            background-color: transparent;
            border: 1px solid rgb(78, 155, 78);
            color: rgb(78, 155, 78);
            font-size: 18px;
            transition: 0.4s;
            &:hover {
              background-color: rgb(74, 121, 74);
              color: white;
            }
          }
          .icons_like {
            display: flex;
            gap: 5px;
            align-items: center;
            .like {
              fill: red;
            }
            .unlike {
              fill: gray;
            }
          }

          svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
    }
    .content {
      width: 100%;
      margin: 0 auto;
      .text {
        width: 98%;
        position: relative;
        margin: 0 auto;
        padding: 15px 0px;
        font-size: 22px;
      }
      .header {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
      }
      .review_image {
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .cover_image {
        min-width: none;
        margin: 0;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .rate_review,
    .rating {
      h4 {
        border: none;
      }
    }
    .rate_review {
      display: flex;
      align-items: center;
      .buttons {
        margin-left: 15px;
        display: flex;
        gap: 15px;
        .save,
        .cancel {
          padding: 10px 15px;
          background-color: transparent;
          border: 1px solid rgb(78, 155, 78);
          color: rgb(78, 155, 78);
          border-radius: 5px;
          transition: 0.4s;
          &:hover {
            background-color: rgb(78, 155, 78);
            color: white;
          }
        }
      }
    }
    .rating {
      display: flex;
      .rating_number {
        margin-top: -3px;
        margin-left: 10px;
        font-size: 26px;
        svg {
          margin-top: -4px;
          color: #faaf00;
        }
      }
    }
  }
  .container {
    min-height: 100%;
    .comments {
      width: 80%;
      margin: 0 auto;
      h4 {
        padding-bottom: 10px;
        font-size: 30px;
      }
      .comments_container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .comment {
          border: 1px solid #e3e3e3;
          border-radius: 5px;
          .title_comment {
            display: flex;
            flex-direction: column;
            font-size: 15px;
            margin-left: 10px;
            .username {
              color: #414b50;
              font-size: 19px;
            }
          }
          .comment_content {
            padding: 10px 0px;
            font-size: 18px;
            margin-left: 20px;
          }
          .answer {
            margin-left: 10px;
            font-size: 19px;
            color: #548eaa;
            margin-bottom: 5px;
            cursor: pointer;
          }
        }
        .comment_send {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 80%;
          margin: 0 auto;
          .comment_textarea {
            width: 100%;
            padding: 15px 30px 15px 10px;
            border: 1px solid #e3e3e3;
            background: transparent;
            border-radius: 10px;
            outline: none;
            resize: none;
            overflow: hidden;
          }
          .send {
            width: 15%;
            height: 100%;
            padding: 10px 15px;
            background-color: transparent;
            color: rgb(78, 155, 78);
            border: 1px solid rgb(78, 155, 78);
            border-radius: 5px;
            transition: 0.4s;
            &:hover {
              color: white;
              background-color: rgb(78, 155, 78);
            }
          }
        }
      }
    }
  }
}
